<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Matches <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
      <a
        href="#"
        class="dropdown-toggle text-light text-decoration-none"
        dropdownToggle
        >Welcome User</a
      >
      <div class="dropdown-menu" *dropdownMenu>
        <a href="" class="dropdown-item">Edit Profile</a>
        <a href="" class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
      *ngIf="!(accountService.currentUser$ | async)"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-2"
        type="text"
        placeholder="username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-2"
        type="password"
        placeholder="password"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>
  </div>
</nav>
